body{
    font-size: 14pt;
    font-family: 'Trebuchet MS';

}
button{
    font-size: 20px;
    border: none;
    color: rgb(50, 173, 116);
    background-color: aquamarine;
    border-radius: 5px;
}